<% if (selectedGame && tiers && tiers.length) { %>
  <ul class="nav nav-pills mb-3">
    <li class="nav-item">
      <a class="nav-link <%= !selectedTier ? 'active' : '' %>" href="/?game=<%= selectedGame %>">All Tiers</a>
    </li>
    <% tiers.forEach(tier => { %>
      <li class="nav-item">
        <a class="nav-link <%= selectedTier == tier.id ? 'active' : '' %>" href="/?game=<%= selectedGame %>&tier=<%= tier.id %>"><%= tier.url.split('/').pop() %></a>
      </li>
    <% }) %>
  </ul>
<% } %>

